<div class="content-heading">
  <div>Editar Rol
    <small>Editar un rol existente.</small>
  </div>
</div>
<div class="container-fluid">
  <%#Card%>
  <div class="card card-default">
    <%#Card Header%>
    <div class="card-header">
      <div class="card-title">Formulario Editar Rol</div>
      <div class="text-sm">Ingresar los datos a modificar del rol.<span class="text-danger"> (Los campos marcados con * son obligatorios.)</span>
        <hr>
      </div>
      <%#Card Body%>
      <div class="card-body">
        <%= render 'form', materia: @rol %>
      </div>
    </div>
  </div>
</div>
