<p>Hola <%=@consulta.clase.profesor.nombre %></p>

<p>Tienes una consulta de la clase <%=@consulta.clase.nombre %></p>

<p><%= @consulta.texto_consulta  + ' (' + @consulta.alumno.nombre + ')'%></p>

<p>Saludos, CathedraBot</p>

<p>No responder este correo.</p>