<p>Hola <%= @resource.nombre + ' ' + @resource.apellido + ' (' + @resource.email + ')' %></p>

<p>Has pedido cambiar tu contraseña, lo puedes hacer haciendo click en el siguiente enlace.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste el cambio de contraseña, ignora este correo.</p>
<p>Tu contraseña no va a cambiar a menos que accedas al enlace e ingreses una nueva contraseña.</p>

<p>No responder este correo.</p>